
.item2  {
 text-align: center ;

 margin-bottom: 10px;
border-top: 0.5px solid black;
 align-items: center;
 font-weight: bold;
 
 
}
.item {
 
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  
  font-size: 15px;
  align-items: center;
  text-align: center;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .2s;
}
.item:hover{
  background-color: rgb(56, 18, 18);
  transform: scale(1.2);
  color: white;
}
.cuerpo{
  margin-right: 7em;
  margin-left: 7em;
  
  min-height: 100vh; 
  width: auto;

  
}





.img {
  padding: 10px 10px 0px 10px;
}
.nose{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: gray;
  height: auto;
  padding: 10px;
 
}



/* 
.modal-contenido{
  background-color: darkred;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  align-items: center;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 0.5s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}  */